* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ---------- BODY ---------- */
html {
    scroll-behavior:smooth;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    background: #0e0e14;
}

/* ---------- BACKGROUND LAYER ---------- */
.bg {
    position: fixed;
    inset: 0;
    z-index: -2;
    backdrop-filter: blur(2rem);
    animation: gradientShift 15s ease infinite;

    background: linear-gradient(135deg,
            #272437,
            #150d22,
            #191f3d,
            #131c2bd5);

    background-size: 200% 200%;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background: radial-gradient(circle at img,
            rgba(255, 255, 255, 0.06),
            transparent 60%);
    pointer-events: none;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ---------- NAVBAR ---------- */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    padding: 15px 100px 4px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(65, 65, 65, 0.008);
    backdrop-filter: blur(100px);
}

.logo {
    font-size: 2rem;
    color: rgba(220, 157, 40, 0.895);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes giggle {
    0% {
        transform: rotate(0deg) scale(1.05);
    }

    15% {
        transform: rotate(7deg) scale(1.05);
    }

    30% {
        transform: rotate(-7deg) scale(1.05);
    }

    45% {
        transform: rotate(5deg) scale(1.05);
    }

    60% {
        transform: rotate(-5deg) scale(1.05);
    }

    90% {
        transform: rotate(2deg) scale(1.05);
    }

    100% {
        transform: rotate(0deg) scale(1.01);
    }
}

.logo:hover {
    animation: giggle 1s ease-in-out;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 35px;
    font-weight: 600;
    position: relative;
    padding-bottom: 6px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #e4ad83, #f76205c1);
    transition: width 0.3s ease;
}

.nav a:hover {
    color: #e67422f4;
    transform: translateY(-2px);
}

.nav a:hover::after {
    width: 100%;
}

/* ---------- HOME SECTION ---------- */
.homepage {
    /* padding-top: 100px; */
    gap: 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    align-items: center;
    padding: 2rem 6rem;
    font-size: 1.3rem;
}

#greet {
    color: rgb(196, 118, 29);
    font-size: 1.4rem;
    font-weight: 600;
}

#name {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    padding-left: 1.5rem;
}

.typing {
    display: inline-block;
    padding-left: 1.5rem;
    font-size: 36px;
    color: rgb(211, 204, 204);
    border-right: 3px solid rgba(255, 255, 255, 0.8);
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#intro {
    margin-top: 1rem;
    color: rgba(149, 137, 137, 0.82);
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.home-btn {
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
}

#contact-btn,
#project-btn {
    cursor: pointer;
    padding: 16px;
    text-align: center;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

#contact-btn {
    border: none;
    color: #fff;
    background: linear-gradient(90deg, rgb(232, 134, 23), rgb(211, 41, 80), rgb(220, 155, 34));
}

#contact-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(231, 146, 50, 0.8);
}

#project-btn {
    border: 2px solid rgb(228, 155, 20);
    background: transparent;
    color: rgb(228, 155, 20);
}

#project-btn:hover {
    transform: scale(1.1);
    background: rgba(254, 165, 0, 0.12);
}

/* ---------- IMAGE ---------- */
.img {
    animation: float 3s ease-in-out infinite;
}

.home img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    border: 8px solid rgba(22, 22, 21, 0.92);
    filter: drop-shadow(0 0 60px rgba(180, 91, 27, 0.9));
    transition: transform 0.4s ease;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

.home img:hover {
    transform: scale(1.04) rotateZ(1deg);
}


/* ---------- ABOUT SECTION ---------- */
.about {
    padding: 6rem 6rem;
    background: #12152eef;
}

.about-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 4rem;
    align-items: center;
}

/* TITLE */
.section-title {
    position: relative;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2.5rem;
}

.section-title::after {
    content: "";
    display: block;
    width: 140px;
    height: 4px;
    margin-top: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}

/* TEXT */
.about-text p {
    color: rgba(234, 221, 221, 0.9);
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.about-text p:first-of-type {
    font-size: 1.2rem;
    color: #eef1f8;
}

.about-highlight {
    color: #3448e0;
    font-weight: 500;
}

.about p:hover {
    color: rgb(222, 221, 221);

}

/* CARDS */
.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about-card {
    background: rgba(169, 169, 169, 0.04);
    backdrop-filter: blur(14px);
    padding: 2rem;
    border-radius: 18px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 10px rgb(0, 0, 0),inset 0 0 10px rgba(237, 237, 237, 0.25);
}

.about-card:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(255, 255, 255, 0.1);
}

.about-card h3 {
    font-size: 2rem;
    color: #7c7cff;
}

.about-card span {
    display: block;
    margin-top: 8px;
    font-size: 0.95rem;
    color: #cbd5e1;
}


/* animation base */
.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

/* section */
.about.animate {
    transform: translateY(60px);
}

/* text left se */
.about-text.animate {
    transform: translateX(-60px);
}

/* cards right se */
.about-card.animate {
    transform: translateX(60px);
}

/* visible state */
.animate.show {
    opacity: 1;
    transform: translate(0);
}

/* stagger animation delay for cards */
.about-card:nth-child(1) {
    transition-delay: 0.2s;
}

.about-card:nth-child(2) {
    transition-delay: 0.35s;
}

.about-card:nth-child(3) {
    transition-delay: 0.5s;
}

.about-card:nth-child(4) {
    transition-delay: 0.6s;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 900px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about {
        padding: 4rem 2rem;
    }

    .about-cards {
        margin-top: 2rem;
    }
}


/*----------------------------- SKILLS---------------------------------- */

.skill {
    background-color: rgba(11, 12, 31, 0.865);
    padding: 6rem 6rem;
}

.skill-container h1 {
    position: relative;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.skill-container h1::after {
    content: "";
    display: block;
    width: 16rem;
    height: 4px;
    margin: 10px auto 0;
    background: linear-gradient(90deg, #1d72bc, #c30fe7c8);
    border-radius: 10px;
}

.skill-container p {
    text-align: center;
    padding: 1.8rem 0;
    font-size: 1.2rem;
    color: rgb(202, 200, 200);
    line-height: 1.8rem;
}

.skill-stats {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}

.skill-stat img {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-bottom: 1rem;
    transition: box-shadow .3s ease;
}

.skill-stat img:hover {
    box-shadow: 0 0 10px rgb(8, 21, 25);
}

.skill-stat {
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    background: linear-gradient(135deg, #3c474ebd, rgba(161, 186, 195, 0.475));
    color: white;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-stat:hover {
    background-color: rgba(9, 95, 145, 0.409);
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(8, 62, 121, 0.687), inset 0 0px 10px rgba(59, 122, 190, 0.847);
}

.skill-list {
    margin-top: 1rem;
    list-style: none;
    padding-left: 0;
}

.skill-list li {
    position: relative;
    padding-left: 1.2rem;
    margin-bottom: 0.6rem;
    color: #cbd5e1;
}

.skill-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(161, 229, 241), rgb(77, 201, 218));

}

.skill-list.version li::before {
    background: linear-gradient(to right, gray, black);
}

.skill-stat.version:hover {

    background-color: rgba(55, 61, 63, 0.409);
    box-shadow: 0px 0px 40px rgba(40, 75, 115, 0.842), inset 0 0px 10px rgba(49, 51, 54, 0.847);
}

.skill-list.lang li::before {
    background: linear-gradient(to right, rgb(216, 189, 145), rgb(221, 165, 25));
}

.skill-stat.lang:hover {

    background-color: rgba(198, 173, 89, 0.409);
    box-shadow: 0px 0px 40px rgba(40, 75, 115, 0.842), inset 0 0px 10px rgba(228, 173, 78, 0.847);
}

.continue {
    background: rgba(17, 183, 238, 0.854);
    border-radius: 20px;
    margin: 3rem auto 2rem;
    width: 20rem;
    box-shadow: 0 0 10px rgb(96, 112, 124);
    transition: transform .3s ease, box-shadow .3s ease;
}

.continue:hover {
    box-shadow: 0 0 10px rgb(132, 197, 232);
    transform: scale(1.05);
}

.continue p {
    color: white;
}